<div class="text-muted small mt-5 text-center">
  <%= link_to 'このアプリについて', about_path %>  |
  <%= link_to '開発ログ', logs_path %>  |
  <%= link_to 'ご意見 / お問合せ', 'https://forms.gle/FF7vLDtC6qdt7m2P7', target: "_blank", rel: "noopener noreferrer" %>
</div>
