<div class="container mt-5" style="max-width: 600px;">
  <h1 class="h4 mb-3">このアプリについて</h1>

  <p class="text-muted small">
  何かを学ぶプロセスは、必ずしも直線的な軌跡を描きません。
  もどかしさを抱えながらも学習を継続し、ある日「総学習時間」が一定量を越えたとき、世界の見え方や学びの手触りが変わることがあります。
  研究者たちは、そのような転換点を「<strong>閾値</strong>」と呼んでいます。
  </p>

  <ul class="text-muted small">
    <li>1,000時間：初級</li>
    <li>2,500時間：中級</li>
    <li>5,000時間：上級</li>
    <li>10,000時間：エキスパート</li>
  </ul>

  <p class="text-muted small">
  一般に学習は効率や最短距離で語られがちですが、閾値をまたぐ学習体験の変容は、停滞や道草のなかでこそ準備されることが多いものです。
  このアプリが、そのような見えにくい過程に意味を与えるツールになることを願っています。
  </p>

  <%= render "shared/footer" %>
</div>
