<div class="container mt-5">
  <h1 class="h4">How Long Will It Last</h1>

  <p class="text-muted small">このアプリは、何かの技術や技能等を学ぶ際の「学習時間」と「学習内容」を記録するためのツールです。</p>

  <p class="text-muted small">長期的な成長の過程を記録する作業は、熟練技能者に求められる「メタ認知的戦略」を養うための材料になることでしょう。</p>

  <p class="text-muted small">自己変容の足跡を記録してみましょう！</p>


  <div class="d-flex gap-2">
    <% if logged_in? %>
      <%= link_to '今日の記録', new_learning_record_path(study_date: Date.current), class: "btn btn-sm btn-primary" %>
      <% else %>
      <%= link_to '試してみる', new_learning_record_path, class: "btn btn-sm btn-outline-secondary" %>
    <% end %>
  </div>

  <% unless logged_in? %>
    <p class="text-muted small mt-3">
      ※ 記録するには <%= link_to 'ユーザー登録', new_user_path %> /
      <%= link_to 'ログイン', login_path %> してください。
    </p>
  <% end %>
</div>
