<h1>How Long Will It Last</h1>

<p>このアプリは、あなたの学習時間を記録し、どれくらい続けられるかを可視化するためのツールです。</p>

<p>学習記録を追加して、あなたの学習時間を管理しましょう！</p>

<%= link_to '今日の記録', new_learning_record_path(study_date: Date.current) %> |
<%= link_to '学習記録一覧', learning_records_path %> |
<%= link_to '試してみる', new_learning_record_path %>
