<div class="container mt-5">
  <h1 class="h4 mb-3">開発ログ</h1>

  <div>
    <h2 class="h5 text-muted">2026-03-23</h2>
    <ul class="mb-4 text-muted small">
      <li>TOP ページをリニューアル</li>
      <li>登録ユーザーは「プログレスバー」で進捗状況を可視化</li>
    </ul>
    <h2 class="h5 text-muted">2026-03-22</h2>
    <ul class="mb-4 text-muted small">
      <li>「マイページ」を更新（ダッシュボード機能を実装）</li>
      <li>「マイページ」でタグごとの累計学習時間を表示</li>
    </ul>
    <h2 class="h5 text-muted">2026-03-21</h2>
    <ul class="mb-4 text-muted small">
      <li>「総学習時間」をTOPページおよび学習ログ一覧に表示した</li>
      <li>「学習テーマ」カラムを追加（将来的な複数テーマ対応への基盤整備）</li>
    </ul>
    <h2 class="h5 text-muted">2026-03-19</h2>
    <ul class="mb-4 text-muted small">
      <li>古い iOS Safari でアクセスできない問題を修正（一部ブラウザで表示されない問題を解消）</li>
      <li>ドキュメントページを設置（「このアプリについて」「開発ログ」「ご意見 / お問合せ」）</li>
    </ul>
    <h2 class="h5 text-muted">2026-03-17</h2>
    <ul class="mb-4 text-muted small">
      <li>MVP リリース</li>
    </ul>
  </div>

  <div>
    <h2 class="h5 text-muted">今後の機能追加予定</h2>
    <ul class="mb-4 text-muted small">
      <li>TODO機能 ※準備中</li>
      <li>カレンダー機能 ※構想中</li>
      <li>検索機能（キーワード検索） ※構想中</li>
      <li>SNSログイン連携 ※構想中</li>
      <li>データエクスポート機能 ※構想中</li>
  </div>

  <%= render "shared/footer" %>
</div>
