<div class="container mt-6" style="max-width: 600px;">
  <h1 class="h4 mb-3">開発ログ</h1>

  <div>
    <h2 class="h6 text-muted">2026-04-24</h2>
    <ul class="mb-4 text-muted small">
      <li>学習ログにページネーションを導入しました。（1ページ20件表示）</li>
    </ul>
    <h2 class="h6 text-muted">2026-04-07</h2>
    <ul class="mb-4 text-muted small">
      <li>タグ、TODO が新規作成できないバグを修正しました。</li>
    </ul>
    <h2 class="h6 text-muted">2026-04-04</h2>
    <ul class="mb-4 text-muted small">
      <li>複数の「学習テーマ」を同時に管理できるようになりました。</li>
    </ul>
    <h2 class="h6 text-muted">2026-03-30</h2>
    <ul class="mb-4 text-muted small">
      <li>TODO機能を追加しました。（マイページから利用できます）</li>
    </ul>
    <h2 class="h6 text-muted">2026-03-29</h2>
    <ul class="mb-4 text-muted small">
      <li>ブラウザを閉じてもログイン状態を維持できるようになりました。</li>
    </ul>
    <h2 class="h6 text-muted">2026-03-24</h2>
    <ul class="mb-4 text-muted small">
      <li>マイページにプログレスバーを追加しました。</li>
      <li>マイルストーンごとにプログレスバーが切り替え表示されます。</li>
    </ul>
    <h2 class="h6 text-muted">2026-03-23</h2>
    <ul class="mb-4 text-muted small">
      <li>TOP ページをリニューアルしました。</li>
      <li>登録ユーザーは「プログレスバー」で進捗状況を確認できます。</li>
    </ul>
    <h2 class="h6 text-muted">2026-03-22</h2>
    <ul class="mb-4 text-muted small">
      <li>「マイページ」を更新（ダッシュボード機能を実装）しました。</li>
      <li>「マイページ」でタグごとの累計学習時間を確認できます。</li>
    </ul>
    <h2 class="h6 text-muted">2026-03-21</h2>
    <ul class="mb-4 text-muted small">
      <li>「総学習時間」がTOPページおよび学習ログ一覧に表示されるようになりました。</li>
      <li>「学習テーマ」カラムを追加しました。</li>
    </ul>
    <h2 class="h6 text-muted">2026-03-19</h2>
    <ul class="mb-4 text-muted small">
      <li>一部ブラウザで表示されない問題を解消しました。</li>
      <li>ドキュメントページ（「このアプリについて」「開発ログ」「ご意見 / お問合せ」）を設置しました。</li>
    </ul>
    <h2 class="h6 text-muted">2026-03-17</h2>
    <ul class="mb-4 text-muted small">
      <li>MVP リリース</li>
    </ul>
  </div>

  <div>
    <h2 class="h6 text-muted">今後の追加機能候補</h2>
    <ul class="mb-4 text-muted small">
      <li>カレンダー機能 ※構想中</li>
      <li>検索機能（キーワード検索） ※構想中</li>
      <li>SNSログイン連携 ※構想中</li>
      <li>データエクスポート機能 ※構想中</li>
  </div>

  <%= render "shared/footer" %>
</div>
