<div class="stopwatch-container">
  <div class="stopwatch-timer" data-stopwatch-target="timer">00:00</div>
  <div class="stopwatch-controllers">
    <div class="stopwatch-btn" data-stopwatch-target="start" data-action="click->stopwatch#start">START</div>
    <div class="stopwatch-btn" data-stopwatch-target="stop" data-action="click->stopwatch#stop">STOP</div>
    <div class="stopwatch-btn" data-stopwatch-target="reset" data-action="click->stopwatch#reset">RESET</div>
  </div>

  <p class="text-muted small mt-3">※ 学習時間を自動計測できます</p>
</div>
