<div class="container">
  <div id="timer">00:00</div>
  <div class="controllers">
    <div class="btn" id="start">START</div>
    <div class="btn" id="stop">STOP</div>
    <div class="btn" id="reset">RESET</div>
  </div>
</div>
