<div class="container" data-controller="stopwatch">
  <div id="timer" data-stopwatch-target="timer">00:00</div>
  <div class="controllers">
    <div class="btn" id="start" data-stopwatch-target="start">START</div>
    <div class="btn" id="stop" data-stopwatch-target="stop">STOP</div>
    <div class="btn" id="reset" data-stopwatch-target="reset">RESET</div>
  </div>
</div>
