<h1>今日の学習記録</h1>

<div data-controller= "stopwatch">
  <%= render 'stopwatch' %>

  <% if @learning_record.errors.any? %>
    <div style="color: red;">
      <h2><%= @learning_record.errors.count %>件のエラーがあります</h2>
      <ul>
        <% @learning_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form', learning_record: @learning_record, return_path: learning_records_path, data: { stopwatch_target: "durationMinutes" } %>
</div>
